/* h1 {
    color: blue;
    background-color:navajowhite;
}

.nav {
    background-color: black;
    padding: 15px;
    text-align: center;
}

.nav-item {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    font-weight: bold;
} */